<% if (user) { %>
  <nav class="navbar">
    <div class="brand">
      Fit<span>Track</span>
    </div>
    <nav>
      <a href="/feed">Home</a>
      <a href="/workouts">Treinos</a>
      <a href="/profile/edit">Perfil</a>
      <a href="/logout">Sair</a>
    </nav>
  </nav>
<% } %>