<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include("../partials/head", { title: typeof title !== 'undefined' ? title : 'FitTrack' }) %>
</head>
<body>
  <%- include("../partials/navbar") %>
  
  <main>
    <%- body %>
  </main>

  <%- include("../partials/footer") %>
</body>
</html>
